@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the nav is at the top of the page */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0.5rem; /* Adjust padding as needed */
  z-index: 10; /* Ensure it is above other content */
  border: 1px solid #FFFFFF; /* Add white border */
  border-radius: 12px; /* Add border radius for rounded rectangle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
  background-color: #242424; /* Dark background for the nav */
}

/* Ensure body has no margin */
body {
  margin: 0;
  padding-top: 60px; /* Adjust if needed to make space for the nav */
}

/* Global styles for dark theme */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87); /* White text */
  background-color: #121212; /* Dark background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FFFFFF; /* White text for links */
  text-decoration: inherit;
}
a:hover {
  color: #BBBBBB; /* Lighter shade for hovered links */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #FFFFFF; /* White text for headings */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; /* Dark background for buttons */
  color: #FFFFFF; /* White text for buttons */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FFFFFF; /* White border on hover */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Ensure body has a dark background */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212; /* Dark background */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #00FA9A;
  }
}

.toggle-label {
  color: #228B22;
}

h3 {
  font-weight: bold;
  color: #3CB371;
}

.toggle-label {
  color: #228B22;
}

.toggle-label:hover {
  color: #00FA9A;
}

.menu-item:hover {
  color: #00FA9A;
}
